---
---

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

$grey: #585858;
$lightgrey: #9e9e9e;
$primaryColor: {{ site.primaryColor }}; // Comment this line if your IDEs formatting stops working
// $primaryColor: #fa4a53;

$boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$boxShadowStrong: 0px 0px 15px rgba(0, 0, 0, 0.4);

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(247, 236, 236);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  animation: 10s ease-in-out 0s infinite background-animation;

  @media screen and (max-width: 600px), (max-height: 500px) {
    animation: none;
    background-color: $primaryColor;
  }

  width: 100vw;
  height: 100vh;

  display: inline-block;

  margin: 0;
}

.button {
  font-size: 9pt;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  background-color: $primaryColor;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  cursor: pointer;
}

.button:hover {
  background-color: darken($color: $primaryColor, $amount: 5);
}

#brandingImage {
  height: 4vh;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 600px), (max-height: 500px) {
    padding: 20px;
    filter: grayscale(1) brightness(100);
  }
}

#legalNotice {
  margin: 0 auto;
  height: 3vh;
  width: 60vw;
  text-align: right;
  @media screen and (max-width: 600px), (max-height: 500px) {
    width: 80vw;
  }

  a {
    font-size: 9pt;
    color: $grey;
    @media screen and (max-width: 600px), (max-height: 500px) {
      color: #fff;
    }
  }
}

#content {
  margin: 0 auto;

  width: 60vw;
  height: 80vh;
  margin-top: 10vh;

  display: grid;

  background-color: #fff;

  grid-template: repeat(16, 1fr) / repeat(16, 1fr);

  @media screen and (max-width: 1400px) {
    width: 80vw;
  }

  @media screen and (max-width: 800px), (max-height: 500px) {
    width: 100vw;
  }

  @media screen and (max-width: 1000px), (max-height: 800px) {
    grid-template: 0.2fr repeat(14, 1fr) 0.2fr / 0.2fr repeat(14, 1fr) 0.2fr;
  }

  @media screen and (max-width: 600px), (max-height: 500px) {
    display: block;
    height: unset;
    margin: 0;

    background-color: $primaryColor;
  }

  #formDialogBackground {
    background-color: #fff;
    box-shadow: $boxShadow;
    grid-column: 9/15;
    grid-row: 3/11;

    @media screen and (max-width: 600px), (max-height: 500px) {
      display: none;
    }
  }

  #formDialogMain {
    grid-column: 9/15;
    grid-row: 3/9;

    @media screen and (max-width: 600px), (max-height: 500px) {
      display: none;
    }

    padding: 40px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;

    h1 {
      margin-top: 0;
    }

    input,
    h1 {
      flex-shrink: 1;
      flex-grow: 0;
    }

    textarea {
      flex-grow: 1;
      resize: none;
    }
  }

  .formStyle {
    input[type="text"],
    input[type="email"],
    textarea {
      font-family: "Raleway", sans-serif;
      color: $grey;
      font-size: 10pt;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      border: 1px solid $lightgrey;

      box-sizing: border-box;

      transition-duration: 100ms;
      transition-timing-function: ease-out;
    }

    input:focus,
    textarea:focus {
      border-left: 5px solid $primaryColor;
      outline: none;
    }

    input::placeholder,
    textarea::placeholder {
      font-family: "Raleway", sans-serif;
      color: $lightgrey;
    }

    h1 {
      color: $grey;
      text-transform: uppercase;
      font-size: 12pt;
    }
  }

  #formDialogSend {
    grid-column: 9/15;
    grid-row: 9/11;

    @media screen and (max-width: 600px), (max-height: 500px) {
      display: none;
    }

    padding: 40px;
    padding-top: 0;
  }

  #lower {
    grid-column: 1/17;
    grid-row: 9/17;

    @media screen and (max-width: 600px), (max-height: 500px) {
      display: none;
    }

    background-color: $primaryColor;
  }

  #intoText {
    grid-column: 3/8;
    grid-row: 3/8;

    @media screen and (max-width: 600px), (max-height: 500px) {
      padding: 10vh 8vw;
      background-color: #fff;
      box-shadow: $boxShadowStrong;
      position: relative;
    }

    &.right {
      grid-column: 7/11;
      grid-row: 3/8;
    }

    h1 {
      color: $grey;
      text-transform: uppercase;
      margin-top: 0;
      font-size: 16pt;
    }

    p {
      color: $lightgrey;
      font-size: 10pt;
      line-height: 1.5;
    }

    .mailInfo,
    .twitterInfo {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        height: 22px;
      }
    }

    .text {
      margin-left: 25px;
      color: $lightgrey;
      font-size: 10pt;
    }
  }

  #footerText {
    grid-column: 3/8;
    grid-row: 11/14;

    &.right {
      grid-column: 6/13;
      grid-row: 12/16;
    }

    @media screen and (max-width: 600px), (max-height: 500px) {
      padding: 10vh 8vw 3vh;
      background-color: $primaryColor;
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      margin-top: 0;
      font-size: 14pt;
    }

    p {
      color: #fff;
      font-size: 10pt;
      line-height: 1.5;
    }
  }

  #logos {
    grid-column: 3/15;
    grid-row: 14/16;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 100%;
    }

    @media screen and (max-width: 600px), (max-height: 500px) {
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 8vw;

      background-color: $primaryColor;

      img {
        height: unset;
        max-height: 30vh;
        max-width: 27vw;
      }
    }
  }

  #headBack {
    // grid-column: 3/8;
    // grid-row: 4/5;
    grid-column: 3/7;
    grid-row: 8/10;

    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2), 0px 5px 1px $primaryColor;

    @media screen and (max-width: 600px), (max-height: 500px) {
      box-shadow: $boxShadow;
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    img {
      height: 24px;
      margin-right: 6px;
    }

    a {
      display: flex;
      height: 100%;
      text-decoration: none;
      font-size: 13pt;

      align-items: center;
      justify-content: center;
    }
  }

  #mobileContact {
    display: none;
    @media screen and (max-width: 600px), (max-height: 500px) {
      display: block;
      background-color: #fff;
      box-shadow: $boxShadowStrong;
      width: 80vw;
      margin: 0px auto;
      margin-top: 50px;
      padding: 8vw;

      box-sizing: border-box;
    }
  }
}

@keyframes background-animation {
  0% {
    background-image: url("{{site.url}}/assets/images/backgrounds/1.png");
  }
  40% {
    background-image: url("{{site.url}}/assets/images/backgrounds/1.png");
  }
  50% {
    background-image: url("{{site.url}}/assets/images/backgrounds/2.png");
  }
  90% {
    background-image: url("{{site.url}}/assets/images/backgrounds/2.png");
  }
  100% {
    background-image: url("{{site.url}}/assets/images/backgrounds/1.png");
  }
}
